In [1]:
import pandas as pd
import numpy as np

In [2]:
customer = pd.read_csv("C:/Users/patan/DS/Machine Learning/Dataset/customer.csv")

In [3]:
customer.head()

   age  gender   review education purchased
0   30  Female  Average    School        No
1   68  Female     Poor        UG        No
2   70  Female     Good        PG        No
3   72  Female     Good        PG        No
4   16  Female  Average        UG        No

#  Remove UN-Necessary columns

In [4]:
customer.iloc[:,2:].head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

In [5]:
customer = customer.iloc[:,2:]

In [6]:
customer.head()

    review education purchased
0  Average    School        No
1     Poor        UG        No
2     Good        PG        No
3     Good        PG        No
4  Average        UG        No

# Installing sklearn

In [7]:
# pip install -U scikit-learn

# Train_Test_Split

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(customer.iloc[:,0:2],customer.iloc[:,-1:],test_size=0.2)

In [10]:
x_train.head()

     review education
8   Average        UG
47     Good        PG
16     Poor        UG
33     Good        PG
29  Average        UG

In [11]:
x_test.head()

     review education
34  Average    School
43     Poor        PG
35     Poor    School
9      Good        UG
36     Good        UG

In [12]:
y_train.head()

   purchased
8         No
47       Yes
16       Yes
33       Yes
29       Yes

In [13]:
y_test.head()

   purchased
34        No
43        No
35       Yes
9        Yes
36       Yes

# Import_OrdinalEncoder

In [14]:
from sklearn.preprocessing import OrdinalEncoder

In [15]:
x_train.head()

     review education
8   Average        UG
47     Good        PG
16     Poor        UG
33     Good        PG
29  Average        UG

# Define Categories

# Transform Ordinal Encoding

# Label Encoding