In [2]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer , KNNImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [19]:
df = pd.read_csv("C:/Users/patan/DS/Machine Learning/Dataset/train.csv", usecols = ["Survived","Age","Fare"])
print(df.shape)
df.head()

(891, 3)

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [20]:
df.isnull().sum()

Survived      0
Age         177
Fare          0
dtype: int64

In [21]:
X = df.drop(columns = ["Survived"])

In [22]:
y = df["Survived"]

In [23]:
X_train,X_test , y_train, y_test = train_test_split(X,y, test_size=0.25 , shuffle = False)
X_train.shape

(668, 2)

In [24]:
X_train

      Age     Fare
0    22.0   7.2500
1    38.0  71.2833
2    26.0   7.9250
3    35.0  53.1000
4    35.0   8.0500
..    ...      ...
663  36.0   7.4958
664  20.0   7.9250
665  32.0  73.5000
666  25.0  13.0000
667   NaN   7.7750

[668 rows x 2 columns]

In [25]:
X_train.isnull().sum()

Age     140
Fare      0
dtype: int64

In [30]:
knn = KNNImputer(add_indicator=True)
X_train_knn = knn.fit_transform(X_train)
X_test_knn = knn.transform(X_test)
X_train_knn

array([[22.    ,  7.25  ,  0.    ],
       [38.    , 71.2833,  0.    ],
       [26.    ,  7.925 ,  0.    ],
       ...,
       [32.    , 73.5   ,  0.    ],
       [25.    , 13.    ,  0.    ],
       [24.    ,  7.775 ,  1.    ]])

In [31]:
lr = LogisticRegression()
lr.fit(X_train_knn, y_train)
y_pred1 = lr.predict(X_test_knn)
accuracy_score(y_test,y_pred1 )

0.6860986547085202